### -------------------------------------
### VS Code
### -------------------------------------
.vscode/
.vs/

### -------------------------------------
### PyCharm
### -------------------------------------
.idea/
.venv/
__pycache__/
.mypy_cache/
.pytest_cache/

### -------------------------------------
### Файлы
### -------------------------------------
.editorconfig
*.log
*.mhtml
*.rar
*.egg-info
*.ipynb_checkpoints
*.jpg
*.pdf
### *.bat

### -------------------------------------
###  Secrets
### -------------------------------------
*.env
.env.*
*.key
*.cer
*.crt
*.pfx
.pypirc*
*lyr60*.session

### -------------------------------------
# Исключить все файлы с расширение .a
### -------------------------------------
.a
# Но отслеживать файл lib.a даже если он подпадает под исключение выше
!lib.a

### -------------------------------------
### Корневой каталог
### -------------------------------------
/target

### -------------------------------------
# Исключить файл TODO в корневом каталоге, но не файл в subdir/TODO
### -------------------------------------
/TODO

### -------------------------------------
### Исключить все файлы с расширение в корневом каталоге
### -------------------------------------
/*.bat
/*.code-workspace
/*.sh

### -------------------------------------
### Игнорировать все файлы в каталогах
### -------------------------------------
.devcontainer/
BUILD/
DIST/
LOG/
OUT/
EXE/
WORK/
Writerside/
.INFO/
.ARCH/
.TEST/
